/* section-header */

.header-img {
  padding-top: 5rem;
  max-height: 400px;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(
      rgba(250, 236, 216, 0.9),
      rgba(233, 220, 201, 0.7)
    ),
    url(../images/pexels-photo-7232915.jpeg) center;
}

.my-work {
  text-align: center;
}

.my-work-imgs {
  display: flex;
  max-width: 1500px;
  justify-content: center; /* Center the cards horizontally */
  margin: 0 auto;
  gap: 50px; /* Gap between cards */
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
  padding-bottom: 3rem;
}

.img-card {
  border: 1px solid #ccc; /* Add border for the card */
  padding: 20px; /* Add padding around the card */
  width: 300px; /* Adjust the width of the card as needed */
  text-align: center;
}

.img-card img {
  max-width: 100%; /* Make sure the image doesn't exceed the card width */
  min-height: 400px;
  max-height: 400px;
  object-fit: cover;
}

.img-card h4 {
  margin-top: 10px; /* Space between image and name */
}

/* for jwerely page */

.title {
  text-align: center;
  padding-bottom: 5rem;
}

/* foooter */
.footer {
  display: flex;
  background-color: var(--black-color);
  justify-content: center;
}

.footer__container {
  padding-block: 3rem 2rem;
  row-gap: 2.5rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.footer__link {
  color: var(--clr-white);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--clr-sec-1);
}

.footer__copy {
  color: var(--clr-sec-1);
  font-size: 1rem;
}
